:root {
    --fuenteTitulo: 'Style Script', cursive;
}

html {
    box-sizing: border-box;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    transition: all .3s ease;
}

body {
    background-image: url(concert-06.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input,
label {
    display: block;
    color: white;
    font-size: 1rem;
    text-shadow: 1px 1px 1px black;
}

.wrap {
    margin: 0 auto;
    width: 50%;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-family: var(--fuenteTitulo);
    /* color: #d3ada7; */
    color: white;
    text-shadow: 1px 1px 3px black;
}

h3 {
    color: white;
    text-shadow: 1px 1px 3px black;
}

input {
    background-color: #efefef;
    border-style: none;
    color: #333;
    text-shadow: none;
}

input:focus {
    background-color: #eee;
}

textarea {
    width: 100%;
    min-height: 200px;
}

.campo {
    margin: 1rem 0;
}

input[type="checkbox"] {
    transform: scale(2);
    display: inline-block;
}

#zona_check label {
    display: inline-block;
}

.zona_radio label,
.zona_radio input {
    display: inline-block;
}

input[type="radio"] {
    transform: scale(2);
}

footer {
    background-color: rgb(43, 43, 43);
    height: 150px;
    width: 100%;
    margin-top: 1rem;
    box-shadow: 1px 1px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer a i {
    color: white;
    font-size: 1.5rem;
    margin: 0 1rem;
}

footer p {
    font-size: .5rem;
    text-align: center;
    color: white;
}

.btnWpp {
    background-color: rgba(10, 10, 10, .4);
    border: 1px solid white;
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    text-align: center;
    margin: 1rem 0;
}

input[type="submit"] {
    margin-bottom: 2rem;
    padding: .5rem;
}


/**/

h2 {
    text-align: center;
    color: white;
}

.respuesta p {
    color: white;
    text-align: center;
}

p.titulo_resp {
    color: white;
    text-decoration: underline;
}